.form_control {
  width: 80%;
  padding: 0.5rem;
  font-size: 1.1rem;
  background: transparent;
  border: 1px solid rgb(136, 49, 49);
  border-radius: 15px;
  outline-style: none;
}
.form_control:hover {
  cursor: pointer;
}
.form_control * {
  background-color: rgba(57, 25, 25, 0.528);
  color: black;
  font-size: 1.1rem;
  border: 1px solid rgb(136, 49, 49);
}
.form_label {
  display: block;
  margin: 1rem 0rem;
  text-align: start;
}
